<div layout="column"  md-theme="docs-dark">
	<md-content id="nav-bar">
		<md-nav-bar md-no-ink-bar="true">
			<md-nav-item md-nav-href="#basic" id="basic_nav" >Basic</md-nav-item>
			<md-nav-item md-nav-href="#education_list" id="education_nav" name="Education" >Education</md-nav-item>
			<md-nav-item md-nav-href="#skill_group" id="skill_nav" name="Skill" >Skill</md-nav-item>
			<md-nav-item md-nav-href="#project_list" id="project_nav" name="Project" >Project</md-nav-item>
			<md-nav-item md-nav-href="#reward_list" id="rewar_nav" name="Reward" >Reward</md-nav-item>
			<md-button ng-click="update()" class="md-primary md-raised updateBtn" md-no-ink>Update</md-button>
		</md-nav-bar>
	</md-content>


	<form name="form" layout="column" ng-cloak class="md-inline-form" layout-padding>
		<!-- BasicInfo -->
		<md-content id="basic" layout-gt-sm="column"  class="padding-top-50">
			<md-subheader>Basic Info</md-subheader>
			<div layout-sm="column" layout-xs="column"  layout>
				<md-input-container flex-gt-sm="33">
					<label>Title</label>
					<input name="name" ng-model="resume.basic.name" class="md-hue-1" required md-no-asterisk>
					<div ng-messages="form.name.$error">
						<div ng-message="required">This field is required!</div>
					</div>
				</md-input-container>
				<md-input-container flex-gt-sm="33">
					<label>Email</label>
					<input name="email" ng-model="resume.basic.email" type="email">
					<div ng-messages="form.email.$error">
						<div ng-message="email">Not a valid email!</div>
					</div>
				</md-input-container>
				<md-input-container flex-gt-sm="33">
					<label>Phone</label>
					<input name="phone" ng-model="resume.basic.phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
					<div ng-messages="form.phone.$error">
						<div ng-message="pattern">Not a valid phonenumber!</div>
					</div>
				</md-input-container>
			</div>
			<div layout-sm="column" layout-xs="column" layout>
				<md-input-container flex-gt-sm="33">
					<label>Country</label>
					<input name="country" ng-model="resume.basic.country">
					<div ng-messages="form.country.$error">
						<div ng-message="required">This field is required!</div>
					</div>
				</md-input-container>

				<md-input-container flex-gt-sm="33">
					<label>Province</label>
					<input name="province" ng-model="resume.basic.province">
					<div ng-messages="form.province.$error">
						<div ng-message="required">This field is required!</div>
					</div>
				</md-input-container>

				<md-input-container flex-gt-sm="33">
					<label>City</label>
					<input name="city" ng-model="resume.basic.city">
					<div ng-messages="form.city.$error">
						<div ng-message="required">This field is required!</div>
					</div>
				</md-input-container>
			</div>
		</md-content>

		<!-- Education -->
		<md-content layout-gt-sm="column" id="education_list" class="padding-top-50">
			<md-subheader>Education</md-subheader>
			<education-input education="resume.education_list"></education-input>
		</md-content>

		<!-- Skill -->
		<md-content layout-gt-sm="column" id="skill_group" class="padding-top-50">
			<md-subheader>Skills</md-subheader>
			<skill-group skills="resume.skill_group"></skill-group>
		</md-content>

		<!-- Project-->
		<md-content layout-gt-sm="column" id="project_list" class="padding-top-50">
			<md-subheader>Projects</md-subheader>
			<project projects="resume.projects"></project>
		</md-content>

		<!-- Reward-->
		<md-content layout-gt-sm="column" id="reward_list" class="padding-top-50">
			<md-subheader>Rewards</md-subheader>
			<reward rewards="resume.rewards"></reward>
		</md-content>
	</form>
</div>