<div>
    <ng-form name="form" novalidate>
        <div layout-sm="column" layout-xs="column" layout>
            <md-input-container flex-gt-sm="33">
                <label>Name</label>
                <input name="name" ng-model="obj.name" md-no-asterisk required>
                <div ng-messages="form.name.$error" ng-show="form.$invalid">
                    <div ng-message="required">This field is required!</div>
                </div>
            </md-input-container>
        
            <md-input-container flex-gt-sm="20">
                <label>Start Date</label>
                <md-datepicker name="start_date" ng-model="obj.start_date" md-max-date="end_date" md-open-on-focus="true" md-no-asterisk required></md-datepicker>
                <div ng-messages="form.start_date.$error" ng-show="form.$invalid">
                    <div ng-message="required">This field is required!</div>
                </div>
            </md-input-container>
        
            <md-input-container flex-gt-sm="20">
                <label>End Date</label>
                <md-datepicker name="end_date" ng-model="obj.end_date" md-min-date="start_date" md-open-on-focus="true" md-no-asterisk required></md-datepicker>
                <div ng-messages="form.end_date.$error" ng-show="form.$invalid">
                    <div ng-message="required">This field is required!</div>
                </div>
            </md-input-container>

            <md-input-container flex-gt-sm="33">
                <label>GPA(Optional)</label>
                <input name="gpa" ng-model="obj.gpa" pattern="\d+(\.\d+)?/\d+(\.\d+)?">
                <div ng-messages="form.gpa.$error">
                    <div ng-message="pattern">Eg:4.0/4.0</div>
                </div>
            </md-input-container>
        </div>
            
        <div layout-sm="column" layout-xs="column" layout>
            <md-input-container flex-gt-sm="33">
                <label>Country(Optional)</label>
                <input name="country" ng-model="obj.country">
            </md-input-container>

            <md-input-container flex-gt-sm="33">
                <label>Province(Optional)</label>
                <input name="province" ng-model="obj.province">
            </md-input-container>

            <md-input-container flex-gt-sm="33">
                <label>City(Optional)</label>
                <input name="city" ng-model="obj.city">
            </md-input-container>
        </div>

        <md-button class="md-raised md-primary" ng-click="addFn()"ng-show="isEnabled">Add</md-button>
        
        <md-button class="md-raised md-warn" ng-click="removeFn()" ng-show="!isEnabled">Remove</md-button>
                
    </ng-form>
</div>