.hint {
    /* Position the hint */
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

#right{
    overflow: auto;
}

education-input > div, 
skill-group > div,
project > div,
reward > div
{
    margin-bottom:6px;
    border:1px solid rgba(0,0,0,0.3);
}

#nav-bar {
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    background: #fff;
}

.padding-top-50{
    padding-top:50px;
    
}

.active{
    background-color: rgba(245, 99, 99, 0.726);
}
.updateBtn{
    position: fixed;
    right: 0;
}