.mycontainer{
    display: flex;
    width: 100%;
    height: 700px;
}

.padding-right-15per{
    padding-right: 15%;
}

.panel{
    margin: 5px;
    padding: 5px;
}

.panel.left{
    background-color: aqua;
    order: 0;
    flex: 1;
}

.panel.right{
    background-color: cornflowerblue;
    order: 1;
    flex: 2;
}